@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}
/*shared styles */
.display-flex{
    display: flex;
}
.dark-1{
    color:#131313 ;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    border-radius:8px ;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
.color{
    color: #FF900E;
}
.section-title{
    font-size: 2.81rem;
    font-weight: 700;
    
}

/* nav style */
.navbar{
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    

}
.nav-item{
    list-style: none;
    margin: 25px ;
}
.nav-link{
    text-decoration: none;
    font-size: 1.1rem;
    
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-size: 2.9rem;
    font-weight: bold;
}
/* banner styles */
.banner-content{
    max-width: 862px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
}
.banner-img{
    width: 100%;
    margin-bottom:45px ;
}
/* team and feature related styles */
.teams{
    align-items: center;
    gap: 73px;
    margin-top: 85px;
}
.team-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;


}

.feature-description{
    font-size: 1rem;

}
.features-btn{
    gap: 32px;
}
.our-features{
    max-width: 530px;
    
    
}
#quick-list{
    font-weight: 500px;
}
/* some facts related styles */
.fact-card{
   
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.fact-number{
    font-weight: 600;
    font-size: 2.85rem;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.2rem;
    margin-top: 5px;
}
.fact-description {
    max-width: 540px;
}

/* sponsor related styles */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsors-companies img{
    filter: grayscale(100%);
}
/* features styles */
#feature-section-title{
   border-left: 5px solid #FF900E;
   padding-left: 20px;
   
}
.feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.feature-card{
    margin-bottom: 20px;
    padding: 30px;
    box-shadow: 0 4px 30px 0  rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    
}
.features{
    margin-top: 130px;
    gap: 140px;
}
#experience-badge{
    padding: 45px 42px ;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -91px;
    margin-top: -130px;
}
#experience-year{
    font-size: 4rem;
    font-weight: bold;
}
.fratured-image{
    max-width: 100%;
}



/* responsive media query */
@media screen and (max-width:576px) {
    .navbar, 
    .nav-links, 
    .teams,
    .features
    {
        flex-direction: column;
        
    }
    .team-image,
     .facts-container,
     .sponsors-companies
     {
        grid-template-columns: 1fr;
    }
     .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .sponsors-companies{
        justify-items: center;
        gap: 50px;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    
}

/* medium size device */
 @media screen and (min-width:576px) and (max-width:992px) {
    .teams, .features{
         flex-direction: column; 
    }
    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .sponsors-companies{
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        justify-items: center;
    }
     #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
   
} 